
// Fix for Roboto font path
$roboto-font-path: '../assets/';

@import 'components/color';

// Custom color settings go here
$primary-color: color("red", "darken-4");
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

$secondary-color: color("orange", "darken-3") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$disbaled-color: color("grey", "base") !default;
$link-color: color("light-blue", "darken-1") !default;

@import 'components/variables';
// Materialize styles
@import "materialize";
@import 'ember-cli-materialize';
@import "main";
