body{
  background-color: #e0e0e0;
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('/assets/images/gallery.jpg');
}
.main-navbar{
  height: 6em;
}
.navbar{
  height: 5.5em;
  padding: 1em;
}
#navbar-logo {
  width: 12rem;
  height: auto;
}

.call-button {
  position: fixed;
  right: 0;
}

.card-panel {
  margin-bottom: 0;
}
.modal.show{
  top: 0 !important;
}

/*
FAB BUTTON
*/
#admin-tool-fab{
  background-color: $primary-color;
}
#filter-button {
  background-color: $secondary-color;
}

.fixed-action-btn {
  ul{
    left: auto;
    right: 0;
    margin-bottom: 1rem;
  }
  a {
    width: 10rem;
  }
}
.nested-fab-list > li > a {
  border-radius: 100px;
  margin-right: 0;
}
.signout-button{
  margin-top: 1rem;
  background-color: $primary-color-light;
}
li.add-category{
  display: inline-block;
}


/*
Category Filter buttons
*/
.category-button {
  margin-bottom: 0.5rem;
}
.filter-buttons > button{
  width: 100%;
}
.show-all-button{
  margin: 1.5rem auto;
}

/*
Fonts
*/
p.secondary-content{
  margin-top: 0;
  text-align: center;
  font-size: 1.2rem;
  text-align: left;
}

h5.item-price.large-price {
  margin-bottom: 0;
}

.category-type{
  font-weight: bolder;
  color: white;
}


@media (max-width: 450px) {
  .application-outlet{
    margin-top: 3rem;
  }
}
