body{
  background-color: #e0e0e0;
}
.main-navbar{
  height: 6em;
}
.navbar{
  height: 5.5em;
  padding: 1em;
}
#navbar-logo {
  width: 12rem;
  height: auto;
}

.call-button {
  position: fixed;
  right: 0;
}

.card-panel {
  margin-bottom: 0;
}
.filter-buttons > button{
  width: 100%;
}
.show-all-button{
  margin: 1rem auto;
}
.modal.show{
  top: 0 !important;
}

/*
FAB BUTTON
*/
.fixed-action-btn {
  ul{
    left: auto;
    right: 0;
    margin-bottom: 1rem;
  }
  a {
    width: 10rem;
  }
}
.nested-fab-list > li > a {
  border-radius: 100px;
  margin-right: 0;
}
.signout-button{
  margin-top: 1rem;
}
li.add-category{
  display: inline-block;
}


@media (max-width: 450px) {
  .application-outlet{
    margin-top: 3rem;
  }
}
