body{
  background-color: #e0e0e0;
}
.main-navbar{
  height: 6em;
}
.navbar{
  height: 5.5em;
  padding: 1em;
}
#navbar-logo {
  width: 12rem;
  height: auto;
}

.call-button {
  position: fixed;
  right: 0;
}

.card-panel {
  margin-bottom: 0;
}
.filter-buttons > button{
  width: 100%;
}
.show-all-button{
  margin: 1rem auto;
}
.modal.show{
  top: 0 !important;
}

/*
FAB BUTTON
*/
.signout-button{
  border-radius: 100px;
  margin: 0 auto;
}
ul.floating-action-list{
  width: 50em;
}



@media (max-width: 320px) {
  .card-panel .item-title{

  }
}
