{{#md-modal close='closeModal' class="filter-category-modal"}}
  <!--Add category card-->
  {{#md-collection content=categories as |category|}}
    <div class='collection-item' {{action 'filter' category.categoryType}}>
      <h5 class="center-align">{{category.categoryType}}</h5>
    </div>
  {{/md-collection}}
{{/md-modal}}
