
{{#md-modal close='closeModal' class="new-category-modal"}}
    <!--Add category card-->
    {{#md-card title="Add new category" id="new-category-card" class="modal-card"}}
        {{#md-card-content}}
            <div class="row">
              {{md-input value=data.categoryType label='Menu category' class="col s12 m6" validate=true}}
              {{md-input value=data.categoryTypeKhmer label='Khmer Name' class="col s12 m6" validate=true}}
            </div>
        {{/md-card-content}}
        {{#md-card-action class="right-align"}}
            <button class="btn" type="button" name="button" {{action "saveNewCategory"}}>Save</button>
            <button class="btn" type="button" name="button" {{action "cancel"}}>Cancel</button>
        {{/md-card-action}}
    {{/md-card}}
    <!--/.Add category card-->

{{/md-modal}}
