<!-- THIS COMPONENT IS RESPONSIBLE FOR DECIDING WHETHER TO DISPLAY EDIT MODAL OR DELETE MODAL FOR CATEGORY OR DISH -->
<!--
  editName: Pass the name of the form for edit functionalities
  deleteName: Pass the name of the form for delete functionalities
-->
<a class="btn" {{action "showDelete"}}><i class="material-icons">delete</i></a>
<a class="btn" {{action "showEdit"}}><i class="material-icons">edit</i></a>

<!--Shows edit modal-->
{{#if showEditModal}}
{{#md-modal close='closeEdit' class="edit-modal"}}
    {{component editName
      dish=dish
      category=category
      editItem=attrs.editItem
      editCategory=attrs.editCategory
      categories=categories
      close="closeEdit"}}
{{/md-modal}}
{{/if}}

<!--Shows delete modal-->
{{#if showDeleteModal}}
{{#md-modal close='closeDelete' class="delete-modal"}}
    {{component deleteName
      dish=dish
      deleteCategory=attrs.deleteCategory
      deleteItem=attrs.deleteItem
      category=category }}
{{/md-modal}}
{{/if}}
