<a class="btn" {{action "delete" dish}}><i class="material-icons">delete</i></a>
<a class="btn" {{action "showEdit" dish}}><i class="material-icons">edit</i></a>

{{#if showEditModal}}
{{#md-modal close='closeModal' class="new-item-modal"}}
    {{all-forms/edit-dish
      newData=oldData
      editItem=attrs.editItem
      closeModal="closeModal"
      categories=categories}}
{{/md-modal}}
{{/if}}
