<a class="btn" {{action "showDelete"}}><i class="material-icons">delete</i></a>
<a class="btn" {{action "showEdit"}}><i class="material-icons">edit</i></a>

<!--Shows edit modal-->
{{#if showEditModal}}
{{#md-modal close='closeEdit' class="edit-modal"}}
{{component editName
  dish=dish
  editItem=attrs.editItem
  categories=categories
  closeModal="closeEdit"  }}
{{/md-modal}}
{{/if}}

<!--Shows delete modal-->
{{#if showDeleteModal}}
{{#md-modal close='closeDelete' class="edit-modal"}}
    {{component deleteName
      dish=dish
      deleteItem=attrs.deleteItem }}
{{/md-modal}}
{{/if}}
