
{{#md-modal close='closeModal' class="edit-category-modal"}}
  <!--Add category card-->

  {{#md-collection content=categories as |category|}}
    <div class='collection-item'>
      {{category.categoryType}}<br>
      {{category.categoryTypeKhmer}}
      {{admin-tools/edit-delete
        editName='all-forms/edit-category'
        deleteName='all-forms/delete-category'
        editCategory=attrs.editCategory
        deleteCategory=attrs.deleteCategory
        categories=categories
        category=category }}
    </div>
  {{/md-collection}}

{{/md-modal}}
