<!--Add item card-->
{{#md-card title="Edit category" class="modal-card"}}
    {{#md-card-content}}
        <div class="row">
          {{md-input value=category.categoryType label='Category Type' class="col s12 m6" validate=true}}
          {{md-input value=category.categoryTypeKhmer label='Category Khmer' class="col s12 m6" validate=true}}
        </div>
    {{/md-card-content}}
    {{#md-card-action class="right-align"}}
        <button class="btn" type="button" name="button" {{action "editCategory" category}}>Save</button>
        <button class="btn" type="button" name="button" {{action "cancel"}}>Cancel</button>
    {{/md-card-action}}
{{/md-card}}
<!--/.Add item card-->
